<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body class="container mb-2">
    <h1 class="text-center  mb-2">Listing Page</h1>
    <span>Dir: <%= path %></span>
    <div class="container">
        <h2 class="text-center border-bottom border-dark">Files</h2>
        <% files.forEach(function(file) { %>
            <a class="card shadow p-2 mb-2" href="<%= "/videos/?file="+file+"&path="+path; %>" ><%= file %></a>
        <% }); %>
    </div>
    <div class="container mb-2">
        <h2 class="text-center mb-2 border-bottom border-danger">Folder</h2>
        <% dir.forEach(function(dirPath){ %>
            <%- include('./partials/listTile', {dirPath: dirPath}); %>
        <% }); %>
    </div>
</body>
</html>